---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/codeforamerica/the_decider/commits?per_page=100&since=2013-01-01T00:00:00%2B00:00&until=2013-12-01T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d00bbad26cc462e6fa0d04763f1b9fed94f3f0c2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1398196370'
      Last-Modified:
      - Fri, 11 Jan 2013 23:26:21 GMT
      Etag:
      - '"3216420dfe20b6ef2c4a5c88c39ed0e9"'
      X-Oauth-Scopes:
      - public_repo, repo:status
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[{"sha":"b0b7cd79ce7b7e5fefdd063dae4bf042a7af2b11","commit":{"author":{"name":"Dave
        Guarino","email":"daguar@gmail.com","date":"2013-01-11T23:26:21Z"},"committer":{"name":"Dave
        Guarino","email":"daguar@gmail.com","date":"2013-01-11T23:26:21Z"},"message":"Add
        more descriptive use case to README","tree":{"sha":"fef19ddeb5f9663bcd0fb50445e2056936fdc83c","url":"https://api.github.com/repos/codeforamerica/the_decider/git/trees/fef19ddeb5f9663bcd0fb50445e2056936fdc83c"},"url":"https://api.github.com/repos/codeforamerica/the_decider/git/commits/b0b7cd79ce7b7e5fefdd063dae4bf042a7af2b11","comment_count":0},"url":"https://api.github.com/repos/codeforamerica/the_decider/commits/b0b7cd79ce7b7e5fefdd063dae4bf042a7af2b11","html_url":"https://github.com/codeforamerica/the_decider/commit/b0b7cd79ce7b7e5fefdd063dae4bf042a7af2b11","comments_url":"https://api.github.com/repos/codeforamerica/the_decider/commits/b0b7cd79ce7b7e5fefdd063dae4bf042a7af2b11/comments","author":{"login":"daguar","id":994938,"avatar_url":"https://avatars.githubusercontent.com/u/994938?","gravatar_id":"bdd8cc46ae86e389388ae78dfc45effe","url":"https://api.github.com/users/daguar","html_url":"https://github.com/daguar","followers_url":"https://api.github.com/users/daguar/followers","following_url":"https://api.github.com/users/daguar/following{/other_user}","gists_url":"https://api.github.com/users/daguar/gists{/gist_id}","starred_url":"https://api.github.com/users/daguar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/daguar/subscriptions","organizations_url":"https://api.github.com/users/daguar/orgs","repos_url":"https://api.github.com/users/daguar/repos","events_url":"https://api.github.com/users/daguar/events{/privacy}","received_events_url":"https://api.github.com/users/daguar/received_events","type":"User","site_admin":false},"committer":{"login":"daguar","id":994938,"avatar_url":"https://avatars.githubusercontent.com/u/994938?","gravatar_id":"bdd8cc46ae86e389388ae78dfc45effe","url":"https://api.github.com/users/daguar","html_url":"https://github.com/daguar","followers_url":"https://api.github.com/users/daguar/followers","following_url":"https://api.github.com/users/daguar/following{/other_user}","gists_url":"https://api.github.com/users/daguar/gists{/gist_id}","starred_url":"https://api.github.com/users/daguar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/daguar/subscriptions","organizations_url":"https://api.github.com/users/daguar/orgs","repos_url":"https://api.github.com/users/daguar/repos","events_url":"https://api.github.com/users/daguar/events{/privacy}","received_events_url":"https://api.github.com/users/daguar/received_events","type":"User","site_admin":false},"parents":[{"sha":"9415950356976b6a9670b786d7a7b1cbd339ec86","url":"https://api.github.com/repos/codeforamerica/the_decider/commits/9415950356976b6a9670b786d7a7b1cbd339ec86","html_url":"https://github.com/codeforamerica/the_decider/commit/9415950356976b6a9670b786d7a7b1cbd339ec86"}]},{"sha":"9415950356976b6a9670b786d7a7b1cbd339ec86","commit":{"author":{"name":"Dave
        Guarino","email":"daguar@gmail.com","date":"2013-01-11T22:34:11Z"},"committer":{"name":"Dave
        Guarino","email":"daguar@gmail.com[...]
